<!DOCTYPE html>
<html>
<head>
<title>hitRunMan</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="/styles/common.css"/>
    <style>
        body{
            background-color: #000000;
        }
    </style>
</head>
<body>

</body>
<script src="/bower_components/pixi.js/bin/pixi.js"></script>
<script>
var resourcePosition = "<%= position %>";
</script>

<% if(env==='product'){%>
<script src="/dist/hitRunManIndex.js"></script>
<% }else{ %>
<script src="http://localhost:7301/public/dist/hitRunManIndex.js"></script>
<% } %>

</html>

